<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}
<main>
    <div class="container">
        <div class="card-panel">
            <h2>2. PEMBUATAN DATASET DAN TARGET</h2>
            <hr>
            <h4>2.1 Data UCI</h4>
            <blockquote>
                <p>
                    Data didapat dari: https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease
                </p>
                <p>
                    Data tersebut di-import dalam mariaDB
                </p>
            </blockquote>

                {{ dataset_df.head().to_html(classes="responsive-table striped") | safe}}
            <hr>
            <a href="datamining_1.html" class="waves-effect waves-light btn "><i class="material-icons left">navigate_before</i>Tahap 1</a>
            <a href="datamining_4.html" class="waves-effect waves-light btn right"><i class="material-icons right">navigate_next</i>Tahap 4</a>
        </div>
    </div>
</main>

{% include "footer.html" %}
</html>