<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <table class="table table-responsive">
        <thead>
        <tr><th>No</th><th>Age</th><th>Blood Pressure</th><th>Specific Gravity</th><th>Albumin</th><th>Sugar</th><th>Red Blood Cells</th><th>Pus Cell</th><th>Pus Cell Clumps</th><th>Bacteria</th><th>Blood Glucose Random</th><th>Blood Urea</th><th>Serum Creatinine</th><th>Sodium</th><th>Potassium</th><th>Hemoglobin</th><th>Packed Cell Volume</th><th>White Blood Cell Volume</th><th>Red Blood Cell Count</th><th>Hypertension</th><th>Diabetes Mellitus</th><th>Coronary Artery Disease</th><th>Appetite</th><th>Pedal Edema</th><th>Anemia</th><th>Class</th></tr>
        </thead>
        <tbody>
        {%for row in data %}
        <tr>
            {%for d in row %}
            <td>{{d}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>