<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}

<main>
    <div class="container">
        <div class="card-panel">
            <h2>1. Pemahaman Domain dan Tujuan</h2>
            <hr>
            <h4>1.1 Pemahaman Penyakit Ginjal Kronis</h4>
            <blockquote>Penyakit Ginjal Kronis (PGK) adalah suatu proses patofisiologis dengan etiologi yang beragam,
                mengakibatkan penurunan fungsi ginjal yang progresif, penurunan fungsi ini bersifat kronis dan
                irreversible.
                Data didapatkan dari UCI Machine Learning Repository. Berisikan 400 data dan memiliki 25 atribut,
                terdiri dari 1 kelas target dan 24 atribut.
            </blockquote>
            <h4>1.2 Tujuan</h4>
            <blockquote>Penyakit Ginjal Kronis (PGK) adalah suatu proses patofisiologis dengan etiologi yang beragam,
                mengakibatkan penurunan fungsi ginjal yang progresif, penurunan fungsi ini bersifat kronis dan
                irreversible.
                Data didapatkan dari UCI Machine Learning Repository. Berisikan 400 data dan memiliki 25 atribut,
                terdiri dari 1 kelas target dan 24 atribut.
            </blockquote>
            <hr>
            <a href="datamining_2.html" class="waves-effect waves-light btn right"><i class="material-icons right">navigate_next</i>Tahap
                2</a>
        </div>
    </div>
</main>

{% include "footer.html" %}
</html>