<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}

<main>
    <div class="container">
        <div class="card-panel">
            <h2>3. Data Cleaning dan Preprocessing</h2>
            <hr>
            <h4>3 Menghilangkan outliers</h4>
            <blockquote>
                <p>
                    >Mengubah atribut / kolom polinom menjadi numerik
                </p>
            </blockquote>
                 {{ dataset_df.head().to_html(classes="responsive-table striped") | safe}}


            <a href="datamining_3.html" class="waves-effect waves-light btn-small">Tahap 4</a>
        </div>
    </div>
</main>

{% include "footer.html" %}
</html>