<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}

<main>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h3>
                        Hasil Prediksi: {{ hasil }}

                    </h3>
                    <p> ({{ waktu_prediksi }} s)</p>
                    <hr>
                    <div class="col s12">
                        <h4>Tahapan</h4>
                        {% for key, value in tahap.items() %}
                        <p>{{ loop.index }}. {{ value }}</p>
                        {% endfor %}
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>

                    <div class="col s12">
                        <h4>Bentuk Input Awal</h4>
                        <div class="col s12" style="overflow-x: scroll;">
                            {{ new_point_awal.to_html(index=False , classes="responsive-table") | safe }}
                        </div>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>

                    <div class="col s12">
                        <h4>Bentuk Input Akhir</h4>
                        <div class="col s12" style="overflow-x: scroll;">
                            {{ new_point_akhir.to_html(index=False , classes="responsive-table") | safe }}
                        </div>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>

                    <div class="col s12">
                        <h4>Data {{ shape }}</h4>
                        <div class="col s12" style="overflow-x: scroll; overflow-y: auto; height: 35em">
                            {{ df.to_html(index=False , classes="responsive-table") | safe }}
                        </div>
                        <div class="col s12">
                            <hr>
                        </div>

                        <div class="col s12">
                            <h4>Validasi</h4>
                            <p> ({{ waktu_validasi }} s)</p>
                            <div class="col s3">
                                <table class="centered">
                                    <thead>
                                    <tr>
                                        <th>Fold</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for n in range(kFold) %}
                                    <tr>
                                        <td>{{ n + 1 }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col s3">
                                <table class="centered">
                                    <thead>
                                    <tr>
                                        <th>Akurasi ({{ m_akurasi }}%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for a in akurasi %}
                                        <tr>
                                            <td>{{ a }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="col s3">
                                <table class="centered">
                                    <thead>
                                    <tr>
                                        <th>Presisi ({{ m_precision }}%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for a in precision %}
                                        <tr>
                                            <td>{{ a }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="col s3">
                                <table class="centered">
                                    <thead>
                                    <tr>
                                        <th>Recall ({{ m_recall }}%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for a in recall %}
                                        <tr>
                                            <td>{{ a }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col s12">
                            <hr>
                        </div>

                    </div>
                </div>
            </div>

            <a href="demo" class="btn btn-primary green">Kembali</a>
        </div>

    </div>
</main>

<hr>
{% include "footer.html" %}
</html>