<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Deteksi Penyakit Ginjal Kronis</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- MaterializeJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


</head>
<body>
<header>
    <nav style="height: 110px" class="blue-text white fixed">
        <div class="nav-wrapper valign-wrapper">
            <div class="row">
                <h2>{{ title }}</h2>
            </div>
        </div>
    </nav>

    <style>
        header, main, footer {
            padding-left: 300px;
        }
    </style>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <div class="row">
            <div class="center">
                <object style="padding-top: 10px;" id="front-page-logo" type="image/png"
                        data="static/asset_img/ginjal.png" width="100px"
                        height="110px">
                </object>
                <h6 class="blue-text">Identifikasi Penyakit Ginjal Kronis</h6>
            </div>
            <div class="divider"></div>
        </div>

        <li {% if rule=='/' %} class="active blue" {% endif %}>
            <a {% if rule=='/' %} class="white-text" {% endif %} href="/">Home</a>
        </li>
        <li class="no-padding">
            <ul>
                <li>
                    <a  {% if rule=='/pemodelan_langsung' %} class="blue white-text" {% endif %}
                                                             style="padding-left: 30px" href="pemodelan_langsung">Pemodelan</a>
                    <div>
                        <ul style="padding-left: 15px">
                            <li {% if rule=='/pemodelan_manual' %} class="active blue" {% endif %}>
                                <a {% if rule=='/pemodelan_manual' %} class="white-text" {% endif %}
                                                                      href="pemodelan_manual">•Per-tahapan</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li {% if rule=='/deteksi' or rule=='/send' %} class="active blue" {% endif %}>
            <a {% if rule=='/deteksi' or rule=='/send' %} class="white-text" {% endif %} href="/deteksi">Deteksi</a>
        </li>
    </ul>

</header>