<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}

<main>
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <blockquote style="border-left: 5px solid #2196f3 ;"><h3>
                    Atribut Dataset
                </h3>{{ shape[0] }} Data, {{ shape[1] - 2 }} Atribut</blockquote>


                <div class="col s12" style="overflow-x: scroll; overflow-y: auto; height: 35em">
                    {{ df.to_html(index=False , classes="responsive-table striped") | safe }}
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Pembersihan Outlier</h4>
                <p>Pembersihan outlier mengurangi data training, sehingga dapat mengurangi kevalidan hasil
                    prediksi</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Batalkan</a>
                <a href="manual2" class="modal-close waves-effect waves-green btn-flat">Lanjutkan</a>
            </div>
        </div>
        <a href="#modal1" class="btn btn-primary red modal-trigger">Pembersihan Outlier</a>
        <a href="manual3" class="btn btn-primary blue">Transformasi Data</a>
    </div>


</main>
<hr>

{% include "footer.html" %}
</html>