<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include "header.html" %}

<main>
    <div class="card-panel">

        <h5>Nama: {{ nama }}</h5>
        <div class="row">
            <div class="col s6">
                <table>
                    <tbody>
                    {% for i in range(itr) %}
                        <tr>
                            <td>
                                {% if atribut[i] == 'age' %}
                                    Usia ({{ atribut[i] }})
                                {% elif atribut[i] == 'bp' %}
                                    Tekanan Darah ({{ atribut[i] }})
                                {% elif atribut[i] == 'sg' %}
                                    Berat Jenis ({{ atribut[i] }})
                                {% elif atribut[i] == 'al' %}
                                    Albumin ({{ atribut[i] }})
                                {% elif atribut[i] == 'su' %}
                                    Gula ({{ atribut[i] }})
                                {% elif atribut[i] == 'bgr' %}
                                    Gula Darah Acak ({{ atribut[i] }})
                                {% elif atribut[i] == 'bu' %}
                                    Urea Darah ({{ atribut[i] }})
                                {% elif atribut[i] == 'sc' %}
                                    Kreatinin Serum ({{ atribut[i] }})
                                {% elif atribut[i] == 'sod' %}
                                    Sodium ({{ atribut[i] }})
                                {% elif atribut[i] == 'pot' %}
                                    Potasium ({{ atribut[i] }})
                                {% elif atribut[i] == 'hemo' %}
                                    Hemoglobin ({{ atribut[i] }})
                                {% elif atribut[i] == 'pcv' %}
                                    Hematokrit ({{ atribut[i] }})
                                {% elif atribut[i] == 'wbcc' %}
                                    Jml Sel Darah Putih ({{ atribut[i] }})
                                {% elif atribut[i] == 'rbcc' %}
                                    Jml Sel Darah Merah ({{ atribut[i] }})
                                {% elif atribut[i] == 'rbc' %}
                                    Sel Darah Merah ({{ atribut[i] }})
                                {% elif atribut[i] == 'pc' %}
                                    Sel Darah Putih ({{ atribut[i] }})
                                {% elif atribut[i] == 'pcc' %}
                                    Gumpalan Sel Nanah ({{ atribut[i] }})
                                {% elif atribut[i] == 'ba' %}
                                    Bacteria ({{ atribut[i] }})
                                {% elif atribut[i] == 'htn' %}
                                    Hipertensi ({{ atribut[i] }})
                                {% elif atribut[i] == 'dm' %}
                                    Diabetes Mellitus ({{ atribut[i] }})
                                {% elif atribut[i] == 'cad' %}
                                    Penyakit Jantung Koroner ({{ atribut[i] }})
                                {% elif atribut[i] == 'appet' %}
                                    Nafsu Makan ({{ atribut[i] }})
                                {% elif atribut[i] == 'pe' %}
                                    Pembengkakan Kaki ({{ atribut[i] }})
                                {% elif atribut[i] == 'ane' %}
                                    Anemia ({{ atribut[i] }})
                                {% endif %}
                            </td>
                            <td>:</td>
                            <td>
                                {% if atribut[i] == 'age' %}
                                    {{ list[i] }} (tahun)
                                {% elif atribut[i] == 'bp' %}
                                    {{ list[i] }} (mm/hg)
                                {% elif atribut[i] == 'sg' %}
                                    {{ list[i] }} (gr/cm3)
                                {% elif atribut[i] == 'al' %}
                                    {{ list[i] }} (mg/dl)
                                {% elif atribut[i] == 'su' %}
                                    {{ list[i] }}
                                {% elif atribut[i] == 'bgr' %}
                                    {{ list[i] }} (mg/dl)
                                {% elif atribut[i] == 'bu' %}
                                    {{ list[i] }} (mg/dl)
                                {% elif atribut[i] == 'sc' %}
                                    {{ list[i] }} (mg/dl)
                                {% elif atribut[i] == 'sod' %}
                                    {{ list[i] }} (mEq/L)
                                {% elif atribut[i] == 'pot' %}
                                    {{ list[i] }} (mEq/L)
                                {% elif atribut[i] == 'hemo' %}
                                    {{ list[i] }} (gr)
                                {% elif atribut[i] == 'pcv' %}
                                    {{ list[i] }} (mEq/L)
                                {% elif atribut[i] == 'wbcc' %}
                                    {{ list[i] }} (cells/cumm)
                                {% elif atribut[i] == 'rbcc' %}
                                    {{ list[i] }} (millions/cmm)
                                {% else %}
                                    {{ list[i] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        {% if (hasil == "ckd") %}
                            <h4>Hasil: Positif Ginjal Kronis</h4>
                        {% elif (hasil == "notckd") %}
                            <h4>Hasil: Negatif Ginjal Kronis</h4>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        {% if (hasil == "ckd") %}
                            <img src="static/asset_img/pos-red.png" alt="">
                        {% elif (hasil == "notckd") %}
                            <img src="static/asset_img/neg-green.png" alt="">
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
<hr>
{% include "footer.html" %}
</html>